/* ====== ESTILOS GENERALES ====== */

body {
    font-family: Arial, Helvetica, sans-serif;
   background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* Contenedor principal */
.contenedor {
    width: 70%;
    margin: auto;
    text-align: center;
}


/* Formularios */
form {
    margin: 10px auto;
    width: 60%;
    padding: 15px;
    border: 1px solid #999;
    border-radius: 10px;
    background: white;
}

/* Inputs dentro del formulario */
input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Evita que se salga del borde */
}

/* Bot칩n agregar */
button[type="submit"] {
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: #005fcc;
}

/* Tabla */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    border: 1px solid #444;
}

th {
    background: #0078ff;
    color: white;
}

tr:hover {
    background: #f1f1f1;
}

/* Botones editar y eliminar */
.btn-edit {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: darkorange;
}

.btn-delete {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: darkred;
}

/* Actualizar-box (formulario que aparece al editar) */
.actualizar-box {
    display: none; 
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    background: #f2f2f2;
}

/* Bot칩n regresar */
.btn-regresar {
    display: block;
    width: 200px;
    margin: 40px auto;
    padding: 10px;
    background: #444;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius:10px;
    text-align:center;
}

.modal button {
    margin: 10px;
    padding:8px 15px;
    cursor: pointer;
}

/* Bot칩n principal azul (mismo estilo que btn-eliminar pero azul) */
.btn-principal {
    padding: 10px 20px;
    background: #0078ff; /* azul */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.btn-principal:hover {
    background: #005fcc; /* azul m치s oscuro al pasar el mouse */
}
