<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="container center-page">
     <h1>.</h1>
    <h1>----------------------------------</h1>
    <h1>B  i  e  n  v  e  n  i  d  o</h1>
    
    <h1>Selecciona una opcion</h1>
    <h1>.</h1>
    <h1>-----------------------------------</h1>
    
    <div class="menu-buttons">
        <a href="/users/nuevo" class="btn-principal">Usuarios</a>
        <a href="/lista" class="btn-principal">Lista</a>
    </div>
</div>

</body>
</html>



